

<mat-card class="full-width-card">
    <!-- Content goes here -->
    <span class="income"> Income - {{income | currency: 'INR' : true}}</span>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Expense</mat-label>
            <input matInput type="number" name="expense" [(ngModel)]="expense" placeholder="Ex. 1000">
            <button matSuffix mat-mini-fab (click)="addExpenses()"><mat-icon>add</mat-icon></button>
        </mat-form-field>
    </form>
</mat-card>

<div class="parent">
    <mat-card class="half-width-card">
        <mat-card-header>
            <mat-card-title>Expenses</mat-card-title>
            <mat-card-subtitle>
                Monthly expenses list
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let exp of expenses">
                    <p matListItemLine>
                        <span>{{exp}}</span>
                        <mat-icon matListItemIcon (click)="removeExpenses(exp)" >remove</mat-icon>
                    </p>
                </mat-list-item>
            </mat-list>
            <div>
                Total --> {{totalExpenses}}
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="half-width-card">
        second
    </mat-card>
</div>


<main>
    <router-outlet style="margin-top: 80px;"></router-outlet>
</main>